/* @format */
.container {
    height: calc(100vh - 290px);
    overflow: hidden;
    padding: 32px 48px;
}
.list {
    padding: 24px;
    display: flex;
    gap: 40px;
    align-items: center;
    background: var(--white);
    border-bottom: 1px solid var(--gray500);
    border-right: 1px solid var(--gray500);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.02);
    line-height: 1.4;
}
.eventDate {
    font-size: var(--tertiary-heading-size);
    font-weight: 700;
    flex: 0 0 15%;
}
.eventName {
    flex-grow: 1;
    font-weight: 700;
}
.categories {
    display: flex;
    gap: 8px;
    span {
        padding: 2px 8px;
        border: 1.5px solid;
        border-radius: 8px;
        color: #3075bb;
        font-weight: 600;
        white-space: nowrap;
    }
}
.footer {
    padding: 32px 48px 32px;
    display: flex;
    gap: 24px;
    justify-content: center;
}
.banner {
    width: 55%;
    min-width: 740px;
}
