/* @format */
.basicInfo {
    padding-top: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    & > div {
        flex: 1;
    }
}
.title {
    font-size: var(--tertiary-heading-size);
    font-weight: 700;
}
.address {
    font-size: var(--smaller-heading-size);
    line-height: 1.4;
}
.tel {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 4vw;
    font-weight: 700;
}
