/* @format */
.basicInfo {
    background: var(--gray600);
    padding: 40px;
}
.title {
    font-size: var(--tertiary-heading-size);
    font-weight: 700;
}
.address {
    font-size: var(--smaller-heading-size);
    line-height: 1.4;
}
.tel {
    font-size: var(--secondary-heading-size);
    font-weight: 700;
    text-align: center;
}
